Source: vyos-accel-ppp
Section: net 
Priority: optional
Maintainer: hagbard <vyosdev@derith.de>
Build-Depends: cdbs, debhelper (>= 9), cmake, libpcre3-dev, libssl-dev, libsnmp-dev, liblua5.1-dev
Standards-Version: 3.9.5
Homepage: https://accel-ppp.org
Vcs-Git: git://git.code.sf.net/p/accel-ppp/code accel-ppp.git

Package: vyos-accel-ppp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: accel-ppp is a high performance VPN server application for linux. 
 Its goal is aggregation of various popular VPN techniques to a single application.


Package: vyos-accel-ppp-doc
Architecture: all
Description: manpages and documentation for accel-ppp.
