Source: vyos-accel-ppp
Section: net 
Priority: optional
Maintainer: hagbard <vyosdev@derith.de>
Build-Depends: cdbs, debhelper (>= 9), cmake, libpcre3-dev, libssl-dev, libsnmp-dev, liblua5.1-dev
Standards-Version: 3.9.5
Homepage: https://accel-ppp.org
Vcs-Git: git://git.code.sf.net/p/accel-ppp/code accel-ppp.git

Package: vyos-accel-ppp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: accel-ppp is a high performance VPN server application for linux. 
 Its goal is aggregation of various popular VPN techniques to a single application.

Package: vyos-accel-ppp-ipoe-kmod
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IPoE kernel module
 Internet Protocol over Ethernet (IPoE) is a method of delivering an IP payload over an Ethernet-based access network or an access network using bridged Ethernet over Asynchronous Transfer Mode (ATM) without using PPPoE. It directly encapsulates the IP datagrams in Ethernet frames, using the standard RFC 894 encapsulation.
  The use of IPoE addresses the disadvantage that PPP is unsuited for multicast delivery to multiple users. Typically, IPoE uses Dynamic Host Configuration Protocol and Extensible Authentication Protocol to provide the same functionality as PPPoE, but in a less robust manner. 

Package: vyos-accel-ppp-doc
Architecture: all
Description: manpages and documentation for accel-ppp.
