#!/usr/bin/make -f

#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/cmake.mk
include /usr/share/dpkg/default.mk

DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DNETSNMP=TRUE -DLUA=TRUE -DBUILD_IPOE_DRIVER=TRUE -DBUILD_VLAN_MON_DRIVER=TRUE -DKDIR=${KERNELDIR}

override_dh_install:
	mkdir -p debian/tmp/lib/modules/4.19.4-amd64-vyos/extra
	cp obj-x86_64-linux-gnu/drivers/ipoe/driver/ipoe.ko debian/tmp/lib/modules/4.19.4-amd64-vyos/extra/
	cp obj-x86_64-linux-gnu/drivers/vlan_mon/driver/vlan_mon.ko debian/tmp/lib/modules/4.19.4-amd64-vyos/extra/
	dh_install -v 

override_dh_auto_clean:
	dh_auto_clean -- rm -rf obj-x86_64-linux-gnu 
